/* 
    Created on : Mar 4, 2016, 5:16:43 PM
    Author     : Teddy
*/

.header_wrapper{
    background-color: #49B0F1;
    color: #fff;
    min-height: 100px;
    margin-top: 30px;
}

.header_wrapper h2{
      position: relative;
}

.header_wrapper > div {
  width: 600px;
  margin:0 auto;
}

.header_wrapper > div > span {
      padding: 40px 85px;
    text-rendering: optimizespeed;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.main{
  width:400px;
  margin:0 auto;
}

.main > div{
  margin: 10px;
}

button{
   display: inline-block;
    border: 2px solid #49B0F1;
    border-radius: 3px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: #49B0F1;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}
